services:
  api:
    build: .
    container_name: expresscareteam_backend_api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:16.9
    container_name: expresscareteam_backend_db
    ports:
      - "${DB_PORT}:5432"
    restart: always
   
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_expresscareteam
    ports:
      - "6380:6379"
    restart: unless-stopped

    env_file:
      - .env

volumes:
  postgres_data:
