services:
  postgres:
    image: postgres:16.9
    container_name: expresscareteam_nest
    ports:
      - "${DB_PORT}:5432"
    restart: always
    env_file:
      - .env 
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: